* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
.container {
    background-color: rgb(35, 35, 33);
    height: 100%;
    width: 100%;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 4fr;
}
.item {
    background-color: #F5F1DA;
}
#item1 {
    margin-bottom: 0.5rem;
    grid-column: span 3;
}
#item2 {
    grid-column: 1 / 2;
    background-color: #00416D;

}
#item3 {
    grid-column: 2 / 3;
    margin-left: 1rem;
    background-color: #00416D;
    
}
#item4 {
    grid-column: span 2;
    margin-top: 1rem;
    background-color: #40A8C4;
}
.sub-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-column: span 2;
    margin: 1rem;
    grid-template-rows: 6fr 1fr;
}
.sub-item {
    background-color: #FFBB91;
}
.item5,.item6,.item7{
    background-color: #F8BD7F;

}

/* mobile view */
@media (max-width: 412px) {
    .container{
        grid-template-rows: 1fr 4fr 4fr 6fr;
    }
    #item2 {
        grid-column: span 2;
        /* margin: 0.5rem; */
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #item3 {
        display: none;
    }
    #item4 {
        grid-column: span 2;
        order: 2; /* Move item 4 above item 3 */

    }
    .sub-grid{
        order: 3;
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        gap: 0.4rem;
        /* grid-template-rows: 6fr 2fr; */
    }
    
}